node_modules
dist
.git
.gitignore
.prettierrc
eslint.config.mjs
nest-cli.json
pnpm-lock.yaml
tsconfig.build.json
tsconfig.json
README.md
test
Dockerfile
docker-compose.yml
.env
.env.*
npm-debug.log
/Users/tupi/.gemini
